<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
	<insert id="add" parameterType="vo.BoardVo">
		<!-- 조건문 -->
	</insert>
	<update id="modify" parameterType="vo.BoardVo">
		<!-- 조건문 -->
	</update>
	<delete id="remove" parameterType="java.lang.String">
		<!-- 조건문 -->
	</delete>
	<select id="getlist" resultType="vo.BoardVo">
		<!-- 조건문 -->
	</select>
	<select id="find" parameterType="String" resultType="vo.BoardVo">
		<!-- 조건문 -->
	</select>
	<select id="getInfo" parameterType="String" resultType="hashmap">
		<!-- 조건문 -->
	</select>
	<select id="getlistrecommend_num" resultType="vo.BoardVo">
		select id, recommend_num
		from board
		where id=#{id}
	</select>
	<select id="getlistreprot_num" resultType="vo.BoardVo">
		select id, report_num
		from board
		where id=#{id}
	</select>
</mapper>