<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
	<insert id="add" parameterType="vo.BoardVo">
		insert into board(board_num,id,category_id,content,WRITE_DATE) values(SEQ_board_board_num.NEXTVAL,#{id},#{category_id},#{content},sysdate)
	</insert>
	<update id="modify" parameterType="vo.BoardVo">
		<!-- 조건문 -->
	</update>
	<update id="updateReportByBoardNum" parameterType="java.lang.Integer" >
		update board set report_num=report_num+1 where board_num=#{board_num}
	</update>
	<delete id="remove" parameterType="java.lang.String">
		<!-- 조건문 -->
	</delete>
	<delete id="removeByBoardNum" parameterType="java.lang.String">
		delete from board where board_num=#{board_num}
	</delete>
	<select id="find" parameterType="String" resultType="vo.BoardVo">
		<!-- 조건문 -->
	</select>
	<select id="getInfo" parameterType="String" resultType="hashmap">
		<!-- 조건문 -->
	</select>
	<select id="getPopularityBoardList" parameterType="java.lang.String" resultType="java.lang.String">
		select id, recommend_num from board ORDER BY recommend_num DESC
	</select>
	<select id="getReportBoardList" parameterType="java.lang.String" resultType="java.lang.String">
		select id, report_num from board ORDER BY rereport_num DESC
	</select>
	<select id="getByBoardNum" parameterType="java.lang.Integer" resultType="vo.BoardVo">
		select * from board where board_num=#{board_num}
	</select>
	<select id="getList" resultType="vo.BoardVo">
		select * from board order by write_date DESC 
	</select>
	<select id="getListById" parameterType="java.lang.String" resultType="vo.BoardVo">
		select * from board where id=#{id} order by write_date DESC
	</select>
	<select id="getListByContent" parameterType="java.lang.String" resultType="vo.BoardVo">
		select * from board where content LIKE '%'||#{content}||'%' order by write_date DESC
	</select>
	<select id="getListByCategoryId" parameterType="java.util.List" resultType="vo.BoardVo">
		select * from board where category_id IN
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
    	order by write_date DESC
	</select>
	<select id="getListByCategoryIdContent" parameterType="java.util.HashMap" resultType="vo.BoardVo">
		select * from board where category_id IN
		<foreach collection="categoryIdList" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
		AND content like '%'||#{content}||'%'
    	order by write_date DESC
	</select>
	<select id="getRecentBoardNumById" parameterType="java.lang.String" resultType="java.lang.Integer">
		select MAX(board_num) from board where id=#{id}
	</select>
	<select id="getContents" parameterType="java.lang.Integer" resultType="String">
		select content from board where board_num=#{board_num}
	</select>
	
</mapper>