<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coment">
	<insert id="add" parameterType="vo.ComentVo">
		insert into coment values(SEQ_coment_coment_num.NEXTVAL,#{board_num},#{id},#{content},sysdate)
	</insert>
	<update id="modify" parameterType="vo.ComentVo">
		<!-- 조건문 -->
	</update>
	<delete id="remove" parameterType="java.lang.String">
		<!-- 조건문 -->
	</delete>
	<delete id="removeByCommentNum" parameterType="java.lang.Integer">
		delete from coment where coment_num=#{coment_num}
	</delete>
	<select id="getlist" resultType="vo.ComentVo">
		<!-- 조건문 -->
	</select>
	<select id="getListByBoardNum" parameterType="java.lang.Integer" resultType="vo.ComentVo">
		select * from coment where board_num=#{board_num} order by write_date DESC
	</select>
	<select id="find" parameterType="String" resultType="vo.ComentVo">
		<!-- 조건문 -->
	</select>
	<select id="getInfo" parameterType="String" resultType="hashmap">
		<!-- 조건문 -->
	</select>
</mapper>