<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="follow">
	<insert id="addfrom" parameterType="vo.FollowVo">
		insert into follow(from_id)
		values(#{from_id})
	</insert>
	<delete id="removefrom" parameterType="java.lang.String">
		delete from follow where from_id=#{from_id}
	</delete>
	<select id="getlistfrom" parameterType="java.lang.String" resultType="java.lang.String">
		select from_id from follow where to_id=#{to_id}
	</select>
	<select id="getlistto" parameterType="java.lang.String" resultType="java.lang.String">
		select to_id from follow where from_id=#{from_id}
	</select>
	<select id="countfrom" parameterType="vo.FollowVo" resultType="java.lang.String">
		select count(from_id) from follow where to_id=#{to_id}
	</select>
	<select id="countto" parameterType="vo.FollowVo" resultType="java.lang.String">
		select count(to_id) from follow where from_id=#{from_id}
	</select>
	<insert id="addto" parameterType="vo.FollowVo">
		insert into follow(to_id) values(#{to_id})
	</insert>
	<delete id="removeto" parameterType="java.lang.String">
		delete from follow where to_id=#{to_id}
	</delete>
</mapper>